node_modules
dist
docs
coverage
db-data
logs
repl-commands
*.out
traefik
test
# docker-compose.env
docker-compose.*
Dockerfile
.vscode
# dist
# docs
copilot
coverage
*.log
.env
.git
.gitignore
.husky
.editorconfig
.dockerignore
# ./scripts
# repl-commands
# ecosystem.config.js
k8s.yaml
Makefile
src/graph.ts
.eslint*
.prettier*
tmp
db-data
Makefile
*.zip
.envrc
jest.config.js
output
*.md
./types
infrastructure
.commitlintrc.json
.versionrc.json
infrastructure