PATH_add ./node_modules/.bin/
export NODE_ENV=development
export APP_NAME="volatility-services"
export AWS_SM_KEY="API_Keys"
export POSTGRES_USER="postgres"
export POSTGRES_PASSWORD="postgres"
export POSTGRES_DB="volatility_development"
export POSTGRES_HOST=postgresd
export POSTGRES_PORT=5432
export NEW_RELIC_LICENSE_KEY="ba2e72fd105fd15c4f15fa19c8c86370FFFFNRAL"
export NEW_RELIC_DISTRIBUTED_TRACING_ENABLED="false"
export NEW_RELIC_APP_NAME="${APP_NAME}"
export NEW_RELIC_LOG_LEVEL="info"
export TRANSPORTER="nats://nats:4222"
# export NEW_RELIC_APM_KEY_ID=3C2B69E284E1F8D5F66A4D8F7B3E2E65C69F3CAE916B862D3291E7B5D25E1D0D
export FORCE_COLOR=true